<div class="w-[1200px] max-w-full py-8 px-4 m-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl md:text-4xl font-semibold text-gray-700">Chapters</h1>
    <div
      class="w-32 md:w-48 h-10 md:h-12 flex rounded-full shadow-sm hover:cursor-pointer relative bg-white z-10 before:absolute before:top-0 before:left-0 before:bg-orange-500 md:before:w-24 before:w-16 before:h-full before:rounded-full before:-z-10 before:transition-all before:duration-500"
      [ngClass]="
        language === 'english'
          ? 'before:translate-x-0'
          : 'before:translate-x-16 md:before:translate-x-24'
      "
    >
      <div
        class="rounded-l-full w-24 text-xs md:text-[16px] flex justify-center items-center transition-colors duration-500"
        [ngClass]="language === 'english' ? ' text-white' : ''"
        (click)="setLanguage('english')"
      >
        English
      </div>
      <div
        class="rounded-r-full w-24 text-xs md:text-[16px] flex justify-center items-center transition-colors duration-500"
        [ngClass]="language === 'hindi' ? ' text-white' : ''"
        (click)="setLanguage('hindi')"
      >
        हिंदी
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-6" *ngIf="!isLoading">
    <div
      *ngFor="let chapter of this.chaptersData"
      class="bg-white shadow-md rounded-md p-6 lg:p-8 flex flex-col border-2 border-gray-50 justify-between hover:bg-orange-50 hover:border-2 hover:border-orange-200 hover:cursor-pointer"
      routerLink="/chapter/{{ chapter?.id }}"
    >
      <div>
        <h1 class="text-orange-500 text-[14px] md:text-[16px] font-bold mb-1">
          {{ language === "english" ? "Chapter" : "अध्याय" }}
          {{ chapter?.chapter_number }}
        </h1>
        <h2 class="text-gray-700 text-[16px] md:text-xl mb-2 font-semibold">
          {{
            language === "english" ? chapter?.name_translated : chapter?.name
          }}
        </h2>
        <p
          class="text-gray-600 leading-[1.5] text-[14px] md:text-[16px] text-justify"
        >
          {{
            language === "english"
              ? chapter?.chapter_summary.substring(0, 240)
              : chapter?.chapter_summary_hindi.substring(0, 260)
          }}...
        </p>
      </div>
      <p class="mt-4 text-xs md:text-[16px] text-gray-900">
        {{ language === "english" ? " Verses" : "श्लोक" }}:
        {{ chapter?.verses_count }}
      </p>
    </div>
  </div>
  <div class="w-full" *ngIf="isLoading">
    <ngx-skeleton-loader
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-6"
      [theme]="{ height: '260px' }"
      count="6"
    ></ngx-skeleton-loader>
  </div>
</div>
